@model dotnetapp.Models.Player;
<h4 style="text-align:center">Search Player</h4>
<br>
<div class="container col-4">
<h3>Enter the Id to be Search</h3>
@using(Html.BeginForm())
{
        @Html.LabelFor(m=>m.Id, new { @class="control-lable"})
        @Html.TextBoxFor(m=>m.Id, new { @class="form-control"})

    <br>
<input type="submit" value="SearchPlayer" class="btn btn-primary" />
}
</div>

