@model dotnetapp.Models.Team
<h2 style="text-align:center">Add Team</h2>
<div class="container col-4">
@using(Html.BeginForm())
{
    <div class="panel panel-primary">
    
        
        <div class="form-group">
            @Html.LabelFor(m=>m.Name, new { @class="control-label"})
            @Html.TextBoxFor(m=>m.Name, new { @class = "form-control"})
        </div>
        <br>
        
    </div>
    <br>
    <input type="submit" value="Submit" class="btn btn-primary" />
        
}
</div>