@model dotnetapp.Models.Team
<h2>Add Team</h2>
@using(Html.BeginForm())
{
    <div class="panel panel-primary">
    <div class="form-horizontal">
        @* @* <div class="form-group">
            @Html.DisplayNameFor(m=>m.TeamId)
            @Html.EditorFor(m=>m.TeamId)
        </div> 
        <br> *@
        <div class="form-group">
            @Html.DisplayNameFor(m=>m.Name)
            @Html.EditorFor(m=>m.Name)
        </div>
        <br>
        <br>
    </div>
    </div>
    <br>
    <input type="submit" value="Submit" class="btn btn-primary" />
        
}